*{
    margin: 0;
    padding: 0;
    /*Facilita dimensionamento dos elementos
    dizendo que a borda do elemento pertence ao
    tamanho total deste*/
    box-sizing: border-box;
}

html{
    background-color: #fff;
    color: #666363;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    /*Otimiza as fontes para leitura*/
    text-rendering: optimizeLegibility;
}

html, body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300; 
    font-size: 20px;
    text-rendering: optimizeLegibility; 
    overflow-x: hidden; /*faz sumir a barra de rolagem horizontal*/
}

header nav{
    position: absolute;
    top: 20px;
    display: flex;
    align-items: center;
    background-color: rgb(245, 32, 32);
    width: 100%;
}

header .logo{
    width: 80px;
    margin-left: 25px;
    border: solid 8px transparent;
}

header .main-nav{
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    margin-left: 30%;
}

header .main-nav a{
    color: white;
    font-size: 1.0rem;
    font-weight: 400;
}

header .main-nav li{
    padding-bottom: 12px;
    padding-right: 12px;
    border-right: solid 4px transparent;
    border-bottom: solid 4px transparent;
    transition: border-rigth 0.3s, border-bottom 0.3s;
}

header .main-nav li:hover{
    border-right: solid 2px rgb(84, 172, 227);
    border-bottom: solid 2px rgb(84, 172, 227);
    
}

.icones{
    margin-top: 20px;
    width: 50px;
    background-position: center;
}

header a{
    text-decoration: none;
    
}

.fotos {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
    list-style: none;
}

.fotos > li {
   /*border: 2px solid rgb(245, 32, 32);*/
   margin: 10px;
   padding: 10px;
}

.fotos > li > img {
    width: 300px;
}

section h3 {
    margin-top: 150px;
    margin-left: 50px;
}

.fotos > li > p{
    width: 300px;
    text-align: center;
    margin-bottom: 20px;
}

.fotos > li > h4 {
    margin-left: 110px;
    margin-bottom: 20px;
}

.fotos li a {
    text-decoration: none;
    margin: 35%;   
}

.fotos a {
    background-color: rgb(245, 32, 32);
    padding: 10px;
    border-radius: 5px;
    color: white;
    margin-top: 10px;
   
}

.fotos2 {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
    list-style: none;
}

.fotos2 > li {
   /*border: 2px solid rgb(245, 32, 32);*/
   margin: 10px;
   padding: 10px;
}

.fotos2 > li > img {
    width: 300px;
}

.fotos2 > li > p{
    width: 300px;
    text-align: center;
    margin-bottom: 20px;
}

.fotos2 > li > .ajuste {
    /*border: 1px solid;*/
    margin-top: 30px;
}
.fotos2 > li > h4 {
    margin-left: 110px;
    margin-bottom: 20px;
}

.fotos2 li a {
    text-decoration: none;
    margin: 35%;   
}

.fotos2 a {
    background-color: rgb(245, 32, 32);
    padding: 10px;
    border-radius: 5px;
    color: white;
    margin-top: 10px;
   
}

.container {
    border: 1px solid black;
    width: 500px;
    background-color: #cbc3c3;
    margin: 50px;
}

nav img {
    height: 100px;
    width: 100px;
    float: right;
    margin-right: 300px;
    bottom: 1px solid red;

}

form {
    margin: 50px;
    margin-top: 2px;
    margin-bottom: 0%;
    text-align: center;
} 

section h3 {
    margin-top: 150px;
    margin-left: 50px;
}
section h4 {
    margin-top: 10px;
    margin-left: 50px;
}

#campo_nome {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    
    
}

#campo_fone {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

#campo_email {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

#campo_duvida {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

#btnenviar {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid black;
}

#btn_voltar {
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid orange;
    color: black;
    margin-left: 15px;
    background-color: white;
    margin: 50px;
}